*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.titel{
    color: blue;
    font-size: 4rem;
}
.nav{
    display: flex;
    
    align-items: center;

    padding: 0.5rem;
    

}
.logo{
    width: 90px;
    
}
.hero{
    height: 50vh;
    background-color: darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-title{
    color: white;
}
.pressing{
    height:25vh;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
}
.smallhero{
    text-align: center;
}
.hero-text{
    max-width: 500px;
}