<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Upload Done</title>
</head>
<body>
    <nav class="nav">
        <img class="logo" src="/static/pic/bucket_empty.png" alt="">
        <h1 class="titel">QAR</h1>
    </nav>
    <div class="hero">
        <img src="/static/pic/qr-code.png?{{time}}" alt="">
    </div>
</body>
</html>
